.input {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #1976d2;
  background-color: #e3f2fd; /* light blue */
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #0d47a1;
}
